.container{
 display: flex;
 justify-content: center;

}
.gris{
    background-color: #ffffff;
    width: 1400%;
    height: 80vh;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;

}
.image{
    background-image: url(image/Design-sans-titre-_3_.avif);
    
    width: 100%;
    height: 60vh;
    background-size: cover;
    justify-content: right;
    align-items: right;

}

h1{
    color: black;
    font-size: 50px;
    margin-left: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   

}
h6{
    color: black;
    font-size: 10px;
    margin-left:  60px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;

}
.boutonrouge{
    margin-left: 60px;
    width: 20px;
    height: 30px;
}
.monbutton{
    background-color: black;
    color: white;
    padding: 20px 20px 20px 20px;
    border: none;
    letter-spacing: 6px;
    margin-left: 60px;
}



.Mesimg{
    display: block;
    margin: auto;
    width: 2000px;
    height: 500px;
   
}

.grandbloc{
    display: flex;
    justify-content:  space-evenly;
    align-items: center;
    
    
   
}
.hauteur{
  color: black;
  font-size: 25px; 
 font-family: 'Times New Roman', Times, serif;
 width: 300px;
 height: 50px;

}



.socialicone{
  width: 200px;
  height: 20px;
}

h4{
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
h5{
    color: black;
    font-size: 15px; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    height: 60px;
  
    
}
.about{
    color: black;
    font-size: 12px;
    margin-left:  50px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;


}
.u-text{
   color: black;
    font-size: 20px; 
   font-family: 'Times New Roman', Times, serif;
   width: 10px;
   height: 50px;
   

}

.text
{
    color: black;
    font-size: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 150px;
}














